<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hero</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <div class="logo">
      <img src="cube_fill.png" alt="">
      <span>Photon</span>
    </div>
    <div class="navigation">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Features</a>
      <a href="#">Contact</a>
    </div>
    
  </header>