<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Background</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo">
            <h2>Logo</h2>
        </div>
        <div class="nav-container">
            <a href="#" class="nav-items">Home</a>
            <a href="#" class="nav-items">About</a>
            <a href="#" class="nav-items">Feature</a>
            <a href="#" class="nav-items">Contact</a>

            
        </div>
    </header>