<%- include("header.ejs") %>
<section class="container">
    <div class="planet" id="planet0"></div>
    <div class="planet" id="planet1"></div>
    <div class="planet" id="planet2"></div>
</section>

<%- include("footer.ejs") %>
