@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 30px 100px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.logo {
    font-size: 2em;
    font-weight: 500;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
    color: #fff;
}

.nav-item:hover {
    background-color: black;
    color: white;
}

.container {
    height: 100vh;
    background-color: #1F2544;
}

.planet {
    position: absolute;
    
    width: 300px;
    height: 300px;
    
    background-color: #fff;
    box-shadow: 0 0 50px #ccc;
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
    border-radius: 50%;
}

#planet0 {
    top: 50%;
    left: 20%;
    background: url(planet0.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
}

#planet1 {
    top: 61%;
    left: 78%;
    background: url(planet1.png);
    background-position: center;
    background-size: cover;
    z-index: 2;
}

#planet2 {
    top: 10%;
    left: 60%;
    background: url(planet2.png);
    background-position: center;
    background-size: cover;
    z-index: 3;
}

@keyframes float {
    0% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        transform: translatey(0px);
    }
    50% {
        /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
        transform: translatey(-20px);
    }
    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        transform: translatey(0px);
    }
}
