<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h2 class="logo">logo</h2>
    <div class="nav-container">
      <a href="#" class="nav-list">Home</a>
      <a href="#" class="nav-list">About</a>
      <a href="#" class="nav-list">Project</a>
      <a href="#" class="nav-list">Contact</a>
    </div>
    <h2 class="logo" style="visibility: hidden;">Logo</h2>
  </header>