
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  background-image: url("cover0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* -webkit-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: brightness(60%); */
  z-index: 0;
  -moz-transition : all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  
}

.container {
  height: 100vh;
  -webkit-backdrop-filter: blur(75px) brightness(50%);
  backdrop-filter: blur(75px) brightness(50%);
  
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cover:hover ~ .disc {
  left: -200px;
  rotate: 360deg;
  /* transition: 1.2s ease; */
}

.cover {
  position: fixed;
  height: 400px;
  width: 400px;
  overflow: hidden;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.album0 {
  height: 100%;
  width: 100%;
  background-image: url("cover0.jpg");
  background-size: cover;
  z-index: 1;
}

.album {
  width: 100%;
  height: 100%;
  
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 400px;
  -moz-transition : all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#album1 {
  background-image: url("cover1.jpg");
  z-index: 2;
}

#album2 {
  background-image: url("cover2.jpg");
  z-index: 3;
}

#album3 {
  background-image: url("cover3.jpg");
  z-index: 4;
}
.disc {
  position: relative;
  height: 400px;
  width: 400px;
  top: 0;
  left: 0;
  z-index: 500;
  transition: 1s ease;
}

.control {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  color: #fff;
}

.control-button {
  padding: 10px 10px;
  border-radius: 50px;
  border: 2px solid white;
  -webkit-user-select: none;
  user-select: none;
  font-size: 25px;
}

.control-button:hover {
  background-color: black;
  transition: 0.5s ease;
}